<li class="clear">
  <a href="<%= entry_url(entry)%>" class=''><%= truncate(entry.title, 35) %></a>
   <!--<a href="<%= entry_url(entry)%>?mode=popup" class='littlebox'><%= truncate(entry.title, 35) %></a>-->
</li>
